.card {
    border-radius: 15px;
    /* border-color: white; */
}

.my-img {
    width: 100%;
    margin: 20px 1px 20px 15px;
    /* border-radius: 3050px; */
}

.info {
    padding: 0 0 20px 30px;
    margin: auto;
    width: 100%;
    /* text-align: center */
    /* border: 3px solid green; */
}

.home-content .text-1 {
    font-size: 27px;
}

.home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home-content .text-3 span {
    background: -webkit-linear-gradient(225deg, #766dff, #88f3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.bg {
    /* height:1100px;
    background-image: linear-gradient(90deg, #766dff 0%, #88f3ff 100%); */
    /* position: relative;
    z-index: 2; */
    /* background-image: linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    margin-bottom: 200px; */
}

.container {
    /* position: relative;
    z-index: 1; */

}

@media (min-width: 767px) {
    .div-height {
        height: 1100px;
    }

}

@media (min-width: 768px) {
    .div-height {
        height: 560px;
    }

}

@media (min-width: 992px) {
    .div-height {
        height: 760px;
    }

}

@media (min-width: 1200px) {
    .div-height {
        height: 900px;
    }

}